

@mixin break($width...) {
    @if length($width)==1 {
        @media (min-width: nth($width, 1)) {
            @content;
        }
    }
    @if length($width)==2 {
        @media (min-width: nth($width, 1)) and (max-width:nth($width, 2)) {
            @content;
        }
    }
}

@mixin fadeIn($time, $d) {
    @-webkit-keyframes fade {
        0% {
            opacity: 0;
            transform: translateY($d)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
    @-moz-keyframes fade {
        0% {
            opacity: 0;
            transform: translateY($d)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
    @-o-keyframes fade {
        0% {
            opacity: 0;
            transform: translateY($d)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
    @keyframes fade {
        0% {
            opacity: 0;
            transform: translateY($d)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
    animation:fade $time;
}

@mixin textShadow($color) {
    color: $white;
    text-shadow: 2px 0 0 $color, -2px 0 0 $color;
}

@mixin flex($dir){
    display:flex;
    display:-webkit-flex;
    flex-direction: $dir;
    -webkit-flex-direction:$dir;
    justify-content: center;
    align-items: center;
}
