 /*pallete  
rgb(202,248,255);    light blue
rgb(178,138,106)       tan
rgb(123,171,178)      grey blue
rgb(178,113,26)       brown
rgb(232,63,70)        crismin
rgb(0,36,51);          dark blue
rgb(0,145,204)        light blue2
rgb(127,68,0);        brown 
city theme #D9598A(rgb(202,19,88)) #1CAFC0(rgb(28, 175, 192)) #FECA47 #83C25A(rgb(131,194,90)) #F28140 (rgb(242,129,64)) #9266C0(rgb(146,102,192)) #CCB91F (rgb(199,178,7))  purple-blue rgba(0,0,51,0.8);
*/  


@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua");
/*reset css*/
html,body,h1,h2,article,footer,div{
    margin:0;
    padding:0;
}
/*body style*/
html{
   
    
    
}

body{
    width:100%;
    margin:0 auto;
    background: rgba(0,0,51,0.8);
    font-family: Nunito,georgia,times;
    position: relative;
    margin-bottom: -30px;
}

/*nav style*/

.navbar-default{
    background: rgb(199,178,7);
    font-family: Inknut Antiqua;
    border:1px solid rgb(199,178,7);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding:0.1em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: rgb(242,129,64);
}

.navbar-default .navbar-nav>li>a{
    
    color:#fff;
    font-size: 0.9em;
    padding:1.3em;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgb(28, 175, 192);
    background-color: transparent;
}
.navbar-default .navbar-brand {
    font-weight: bolder;
    color: #fff;
    font-weight: bolder;
    font-size: 1.5em;
   
    
}

.navbar-default .navbar-text{
    padding-top:0.2em;
    font-size: 1em;
}
/*header style*/

.header{
    width:80%;
    float:left;
   margin-left:10%; 
    top:5%;
    left:10%;
    font-weight: 100;
    padding: 1em;
    box-sizing: border-box;
    line-height: 7vw;
    
}

.perfil{
    float:right;
    border-radius: 15px;
    border: 5px solid #fff;
}

/*h1 animation*/
@-webkit-keyframes h1Hilight{
    0% {color:#D9598A;}
    20% {color:#1CAFC0;}
    40% {color:#fff;} 
    60% {color:#F28140;}
    80% {color:#9266C0;}
    100% {color:#fff;}
}

@-ms-keyframes h1Hilght{
    0% {color:#D9598A;}
    20% {color:#1CAFC0;}
    40% {color:#fff;} 
    60% {color:#F28140;}
    80% {color:#9266C0;}
    100% {color:#fff;}
}

@-o-keyframes h1Hilight{
    0% {color:#D9598A;}
    20% {color:#1CAFC0;}
    40% {color:#fff;} 
    60% {color:#F28140;}
    80% {color:#9266C0;}
    100% {color:#000;}
}

@keyframes h1Hilight{
    0% {color:#D9598A;}
    20% {color:#1CAFC0;}
    40% {color:#fff;} 
    60% {color:#F28140;}
    80% {color:#9266C0;}
    100% {color:#000;}
}

header h1 {
    -webkit-animation:h1Hilight 10s infinite alternate;
    -ms-animation:h1Hilight 10s infinite alternate;
    -o-animation:h1Hilight 10s infinite alternate;
    animation:h1Hilight 10s infinite alternate;
}
/*box style*/

.flex-container{
    height:100vw;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow:wrap;
    flex-flow: wrap;
    margin:0 auto;
    -webkit-justify-content:center;
    justify-content: center;
    font-size:2.8vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.8em;
    color:#fff;
   
    
}

 article div{
     display:-webkit-flex;
     display:flex;
     -webkit-flex-flow:column;
     flex-flow:column;
     -webkit-justify-content:center;
     justify-content:center; 
     padding:1vw;
     box-sizing:border-box;
     
}

.box1{
    width:40%;
    background: #1CAFC0;
    font-size:3vw;
    -webkit-transition: -webkit-transform .8s,background 1s;
    -ms-transition: -ms-transform .8s,background 1s;
    -o-transition: -o-transform .8s,background 1s;
      transition: transform .8s,background 1s;   
}

 


.sep{
    color:rgba(0,0,0,0);
}


.box2{
    width:60%;
    background: #D9598A; 
    font-size:3vw;
    -webkit-transition: -webkit-transform .8s,background 1s;
    -ms-transition: -ms-transform .8s,background 1s;
    -o-transition: -o-transform .8s,background 1s;
      transition: transform .8s,background 1s;
}

.box3{
    width:33%;
    background: #FECA47;
    font-size: 3vw;
    -webkit-transition: -webkit-transform .8s,background 1s;
    -ms-transition: -ms-transform .8s,background 1s;
    -o-transition: -o-transform .8s,background 1s;
      transition: transform .8s,background 1s;
    
}

.box4{
    width:34%;
    background: #83C25A;
    font-size: 3vw;
    -webkit-transition: -webkit-transform .8s,background 1s;
    -ms-transition: -ms-transform .8s,background 1s;
    -o-transition: -o-transform .8s,background 1s;
      transition: transform .8s,background 1s;
    
    
}

.box5{
    width:33%;
    background: #F28140;
    font-size: 3vw;
    -webkit-transition: -webkit-transform .8s,background 1s;
    -ms-transition: -ms-transform .8s,background 1s;
    -o-transition: -o-transform .8s,background 1s;
      transition: transform .8s,background 1s;
    
    
}

.box6{
    width:100%;
    background: #9266C0;
    font-size:3vw;
    text-transform:uppercase;
    -webkit-transition: -webkit-transform .8s,background 1s;
    -ms-transition: -ms-transform .8s,background 1s;
    -o-transition: -o-transform .8s,background 1s;
      transition: transform .8s,background 1s;
    
}
/*box transform*/
.tbox{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 5px rgba(250,250,250,0.8),
                -2px -2px 20px 5px rgba(250,250,250,0.8); 
    z-index: 10;
}
/*social media*/
#socialMedia{
    margin-left: 10%;
    z-index: 100;
    display: inline-block; 
}

i.fa {
  padding:10px;
  font-size: 20px;
  width:40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
 border-radius:100%;
}
i.fa:hover{
    background: #fff;
    color:rgb(178,113,26);
}
.fa-facebook {
  background: #3B5998;
  color: #fff;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}

.fa-google {
  background: #dd4b39;
  color: white;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}
.fa-instagram {
  background: #125688;
  color: white;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}
/*footer style*/

footer{
   
    background:rgb(199,178,7);
    font-family:Shadows Into Light;
    padding:30px 0 60px 0;
    border-top: 2px solid rgba(255,255,255,.5);
}

footer ul li{
    text-align: center;
    list-style: none;
    font-size: 2vw;;
    line-height: 2em;
    text-transform: capitalize;
}

footer ul li h4{
    font-size: 2.8vw;
    font-weight: bold;
    color:#fff;
}
footer ul li a{
    color:rgba(22, 22, 22,0.5);
}

footer ul li a:hover{
    text-decoration: none;
    }   

/*back to the top*/
#top{
    display:none;
    text-align: center;
    padding:15px 15px;
    position: fixed;
    right:1%;
    bottom:10%;
    font-size: 1em;
    background: rgba(0,145,204,0.5);
    color:#fff;
    z-index:100;
    cursor:pointer;
    border-radius: 10px;
}

#top:hover{
    background:rgba(223,63,70,.5);
}

/*desktop*/
@media only screen and (min-width:769px){
body{
    
    
}

   
    .header{
        font-size:1.7em;
        line-height: 70px;
    }
    
    .flex-container{
        font-size:1.5em;
        max-height:1024px;
    }
    
    article div{
        padding:5%;
    }
    
    .box1,.box2,.box3,.box4,.box5,.box6{
        font-size:1em;
    }
    
    /*footer style*/

footer{
   
    font-size:2em;
    padding:30px 0 60px 0;
    margin-top: 100px;
}

footer ul li{
    
    font-size: 0.6em;
   
}

footer ul li h4{
    font-size: 1.4em;
}
 
 
    
    
}
/*tablet*/
@media only screen and (min-width:481px) and (max-width:768px){
   .navbar-default .navbar-brand {
    font-size: 1.2em; 
}

.navbar-default .navbar-text{
    padding-top:0.4em;
    font-size: 0.8em;
}
    
    #socialMedia{
        top:-6%;
    }
    i.fa{
        font-size: 2vw;
        width:4vw;
        padding:1vw;
        margin: 1vw;
    }
    .header{
        font-size:3vw;
    }
    #toTop{
        font-size: 0.6em;
        padding:2px 5px;
    }
    /*footer*/  
    footer{
    padding:20px 0 40px 0;
    margin-top:60px;
}

 #top{
       padding:10px 10px;
     font-size:0.8em;
    }
}
/*mobile*/
@media only screen and (max-width:480px){
    
.navbar-default .navbar-brand {
    font-size: 1em; 
}

.navbar-default .navbar-text{
    padding-top:0.4em;
    font-size: 0.8em;
}
    
    #socialMedia{
        top:-6%;
    }
    
    i.fa{
        font-size:1.8vw;
        width:3.6vw;
        padding:1.1vw;
        margin:1vw;
    }
    .header{
        font-size:3vw;
    }
    
   
    #toTop{
        font-size: 0.4em;
        padding:2px 5px;
    }
   
  /*footer*/  
    footer{
    padding:10px 0 20px 0;
        margin-top:40px;
}

    #top{
        font-size: 0.6em;
        padding:8px 8px;
    }  
}