@import "normalize";
@import "variable";
@import "mixins";
@import "slidebar"; 
body {
    font-family: $main-font;
    color: $black;
}

#weather {
    background: $white;
    text-align: center;
    animation: glow 20s linear infinite;
    @include flex(column);
    h1 {
        text-transform: uppercase;
        margin: 0;
        font-family: $main-font;
        
    }
    #city {
        padding: 5px;
    }
    .header {
        position: absolute;
        top: 8%;
        left: 10px;
        font-size: 1rem;
        width: 100%;
        @include break(320px,374px){
            font-size: 0.8rem;
        }
        @include break(481px,768px){
            font-size: 1.5rem;
        }
        @include break(769px){
            font-size: 2rem;
        }
    }
    #deg{
        margin-right: 20px;
        font-size: 1rem;
        @include break(320px,374px){
            font-size: 0.8rem;
        }
    }
    #week,#time{
        margin-right: 20px;
        p{
            margin: 0;
            margin-top: 10px;
            font-size: 1rem;
            @include break(320px,374px){
            margin-top: 5px;
        }
        }
    }
    
    #descri,
    img,
    #time,
    #week {
        display: inline-block;
    }
    #temp {
        font-size: 2.5rem;
        padding: 10px;
        margin-top: 20px;
    }
    #descri{
        font-size: 1.5rem;
        @include break(481px,768px){
            font-size:  2rem;
        }
        @include break(769px){
            font-size:  2.5rem;
        }
    }
    .windBlock {
        @extend .block;
        bottom: 10px;
        left: 10px;
    }
    
    .humiBlock{
        
       @extend .block;
        bottom: 10px;
        right: 10px;
        }
    .sunriseBlock{
        @extend .block;
        bottom: 10px;
        right: 10px;   
    }
    
    
    img {
        width: 50%;
        object-fit: cover;
        @include break(481px, 768px) {
            width: 40%;
        }
        @include break(769px) {
            width: 30%;
        }
    }
    #sidebar{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        padding: 20px 5px;
        
    }
}

.block {
      font-size: 1rem;
        width: 100px;
    @include break(481px,768px){
        font-size: 1.5rem;
        margin: 0 15px;
    }
    @include break(769px){
        font-size: 2rem;
        margin: 0 25px;
    }
      display: inline-block;
        img {
            width: 20%;
        }
        p {
            margin: 0;
            padding: 0;
        }
    }
    
//@include glow();

.menu{
    position: absolute;
    top:5px;
    left: 10px;
    color: $black;
    background: transparent;
}

.custom-fluid-width {
  width: 40%;
}

button{
    font-family: $main-font;
}


  /*----------------position in the top right corner---*/  
 /*#cityName, .easy-autocomplete{
    position: absolute;
    top:5px;
    right: 20px;
    font-family: $nav-font;
}
  .easy-autocomplete-container ul,.easy-autocomplete-container{
    top:17px;
    right: 20px;
}

#searchIcon{
    position: absolute;
    top:15px;
    right: 10px;
    font-size: 2rem;
}*/

.easy-autocomplete-container ul{
    margin-left: 5px;
}

input#cityName, .easy-autocomplete,.easy-autocomplete-container ul li{
    font-family: $nav-font;
    display: inline-block;
    width: 140px;
    font-size: 1rem;
    @include break(320px,374px){
      width: 120px;
        
    }
    @include break(481px,768px){
       width: 200px;
        font-size: 1.5rem;
    }
    @include break(769px){
        width: 290px;
        font-size: 2rem;
    }
}
#cityName{
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}
#searchIcon{
    padding: 5px;
    margin-left:0px;
    font-size: 1.5rem;
    @include break(321px,480px){
      margin-left:18px;
    }
    @include break(481px,768px){
      margin-left:30px;
        font-size: 1.5rem;
    }
    @include break(769px){
        margin-left:40px;
        font-size: 2rem;
    }
}
#searchBar{
    
}

.easy-autocomplete, .eac-description{
    width: 150px;
}
