@import "normalize";
@import "variable";
@import "mixins";
@import "slidebar"; 
body {
    font-family: $main-font;
    color: $black;
}

#weather {
    background: $white;
    //text-align: center;
    animation: glow 20s linear infinite;
    @include flex(column);
    h1 {
        text-transform: uppercase;
        margin: 0;
        font-family: $main-font;
        padding: 5px 0;
        
    }
    #city {
        padding: 5px;
    }
    .header {
        position: absolute;
        top: 8%;
        left: 10px;
        font-size: 1rem;
        width: 100%;
        @include break(320px,374px){
            font-size: 0.8rem;
        }
        @include break(481px,768px){
            font-size: 1.5rem;
        }
        @include break(769px){
            font-size: 2rem;
        }
    }
    #deg{
        margin-right: 20px;
        font-size: 0.8rem;
        @include break(480px,768px){
            font-size: 1.5rem;
        }
        @include break(769px){
           font-size: 2rem;
        }
    }
    #week,#time{
        margin-right: 20px;
        p{
            margin: 0;
            margin-top: 15px;
            font-size: 1rem;
            @include break(480px,768px){
            margin-top: 10px;
           font-size: 1.5rem;
        }
            @include break(769px){
            margin-top: 10px;
           font-size: 2rem;
        }
        }
    }
    
    #descri,
    img,
    #time,
    #week {
        display: inline-block;
    }
    #temp {
        font-size: 2.5rem;
        padding: 10px;
        margin-top: 20px;
    }
    #descri{
        font-size: 1.5rem;
        @include break(481px,768px){
            font-size:  2rem;
        }
        @include break(769px){
            font-size:  2.5rem;
        }
    }
    .windBlock {
        @extend .block;
        bottom: 10px;
        left: 10px;
    }
    
    .humiBlock{
        
       @extend .block;
        bottom: 10px;
        right: 10px;
        }
    .sunriseBlock{
        @extend .block;
        bottom: 10px;
        right: 10px;   
    }
    
    
    img {
        width: 50%;
        object-fit: cover;
        @include break(481px, 768px) {
            width: 40%;
        }
        @include break(769px) {
            width: 30%;
        }
    }
    #sidebar{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        padding: 20px 5px;
        
    }
}

.block {
      font-size: 1rem;
        width: 100px;
    @include break(481px,768px){
        font-size: 1.5rem;
        margin: 0 15px;
    }
    @include break(769px){
        font-size: 2rem;
        margin: 0 25px;
    }
      display: inline-block;
        img {
            width: 20%;
        }
        p {
            margin: 0;
            padding: 0;
        }
    }
    
//@include glow();

.menu{
    position: absolute;
    top:5px;
    left: 10px;
    color: $black;
    background: transparent;
}

.custom-fluid-width {
  width: 40%;
}

button{
    font-family: $main-font;
}


input#cityName {
    font-family: $nav-font;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 123px;
    margin-top: 2.5px;
  background-image: url("images/icon_search.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
    @include break(375px,480px){
        width: 154px;
    }
    @include break(480px,768px){
        width: 231px;
    }
    @include break(769px){
        width: 308px;
    }
}

.easy-autocomplete-container ul{
    font-family: $nav-font;
    margin-left: 5px;
}

div.easy-autocomplete.eac-square.eac-description{
    width: 123px;
    @include break(375px,480px){
        width: 154px;
    }
    @include break(480px,768px){
        width: 231px;
    }
    @include break(769px){
        width: 308px;
    }
}
