/*music style*/
body{
    width:80%;
    margin:0 auto;
}
.musicGroup {
    font-family: "FontAwesome";
}
.musicGroup ul{
   width: 60%;
}
.musicGroup ul li{
    display:block;
    padding: 10px;
    width:100%;
   border:1px solid rgba(0,36,51,.5);
    background: rgba(28, 175, 192,.8);
    cursor:pointer;
    text-transform: capitalize;
       
}
.musicGroup ul li:hover{
    background: rgba(0,36,51,0.5);;
}
.musicGroup ul li:first-child{
    border-radius: 10px 10px 0 0;
}
      /*jukebox border*/
.musicGroup ul li:last-child{
    border-radius: 0 0 10px 10px;

}

     /*jukebox icon*/
.musicGroup ul li::before{
    content:"\f04b";
    margin-right:20px;
} 
#playing::before{
    content:"\f04c";
    margin-right:20px;
}

#pause::before{
    content:"\f04b";  /*"\f04c" simbolo pause  "\f04b"  simbola play */
    margin-right:20px;
}



#playing,#pause{
   background: #FECA47;
    color:#D9598A;
    font-size:1.2em;
    text-shadow: 2px 2px 5px #F28140;          
                  
    font-weight: bolder;
}

