.nav {
    font-family: $nav-font;
    text-transform: uppercase;
    font-weight: bolder;
    @include flex(column);
    height: 100%;
    padding: 0;
    li {
        list-style: none;
        padding: 10px;
        text-align: center;
        width: 100%;
        text-align: center;
        width: 150px;
        a { 
            color: $white;
            &:hover {
                color: $black;
                border-bottom: 2px solid $black;
            }
        }
    }
    .active {
        color: $black;
        border-bottom: 2px solid $black;
    }
}

.menu{
    position: absolute;
    top:5px;
    left: 10px;
    color: $black;
    background: transparent;
    z-index: 100;
}

.custom-fluid-width {
  width: 40%;
    background: $mastard;
}