  


#social{
    position: absolute;
    z-index: 20;
    width: 100%;
        list-style: none;
        @include flex(row);
        padding: 0;
       margin: 0;
       //margin-top: 20px;
       top: 15px;
        li{ 
            display: inline-block;
            margin:0 20px;
            font-size: 16px;
            @include break(481px,768px){
                   font-size: 20px; 
                margin: 0 40px;
                }
            @include break(769px){
                font-size: 25px; 
                margin: 0 60px;
                }
            i{  
                color:white; 
                &:hover{
                color:rgb(57, 255, 1);
            }
            }
            
        }
    }

