
footer {
    background: $green; 
    padding: 30px 0 50px 0;
    margin-top: 30px;
   ul li{
        list-style: none;
        text-align: center;
        font-size: 1rem;
       text-transform: capitalize;
       
       @include break(481px,768px){
           font-size: 1.5rem;
       }
       @include break(769px){
           font-size: 2.2rem;
       }
       a{
          color:$grey;
           &:hover{
               text-decoration: none;
               color:complement($green);
           }
          h4{
              font-size: 1rem;
              font-weight: bold;
              color:$white;
              text-transform: capitalize;
              @include break(481px,768px){
                  font-size: 1.5rem;
              }
              @include break(769px){
                  font-size: 2.2rem;
              }
         } 
       }
    }
}