
/*pallete  
rgb(202,248,255);    light blue
rgb(178,138,106)       tan
rgb(123,171,178)      grey blue
rgb(178,113,26)       brown
rgb(232,63,70)        crismin
rgb(0,36,51);          dark blue
rgb(0,145,204)        light blue2
rgb(127,68,0);        brown 
city theme #D9598A(rgb(202,19,88)) #1CAFC0(rgb(28, 175, 192)) #FECA47 #83C25A(rgb(131,194,90)) #F28140 (rgb(242,129,64)) #9266C0(rgb(146,102,192)) #CCB91F (rgb(199,178,7))
*/  
@import url("https://fonts.googleapis.com/css?family=Nunito");

html{
    background: rgb(202,248,255);
    animation:colorChange 10s infinite alternate;
}

.container{
    perspective: 1000px;
    width: 360px;
    height:360px;
    margin:200px auto 0 auto;
    position: relative;
}

#cube{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    width:100%;
    height:100%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    -ms-transition: transform 1s;
    transition: transform 1s;
}

#cube figure{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin:0;
    font-size: 12em;
    font-family: Nunito;
    font-weight: bolder;
    color: #fff;
    width:356px;
    height: 356px;
    border:2px solid #000;
    position: absolute;
}

#cube .front{
    -webkit-transform: rotateY(0deg) translateZ(180px);
    -moz-transform: rotateY(0deg) translateZ(180px);
    -ms-transform: rotateY(0deg) translateZ(180px);
    -o-transform: rotateY(0deg) translateZ(180px);
    transform: rotateY(0deg) translateZ(180px);
    background: rgba(202,19,88,0.6);
}

#cube .back{
    -webkit-transform: rotateX(180deg) translateZ(180px);
    -moz-transform: rotateX(180deg) translateZ(180px);
    -ms-transform: rotateX(180deg) translateZ(180px);
    -o-transform: rotateX(180deg) translateZ(180px);
    transform: rotateX(180deg) translateZ(180px);
    background: rgba(28, 175, 192,0.5);
}

#cube .right{
    -webkit-transform: rotateY(90deg) translateZ(180px);
    -moz-transform: rotateY(90deg) translateZ(180px);
    -ms-transform: rotateY(90deg) translateZ(180px);
    -o-transform: rotateY(90deg) translateZ(180px);
    transform: rotateY(90deg) translateZ(180px);
    background: rgba(131,194,90,0.5);
}
#cube .left{
    -webkit-transform: rotateY(-90deg) translateZ(180px);
    -moz-transform: rotateY(-90deg) translateZ(180px);
    -ms-transform: rotateY(-90deg) translateZ(180px);
    -o-transform: rotateY(-90deg) translateZ(180px);
    transform: rotateY(-90deg) translateZ(180px);
    background: rgba(242,129,64,0.5);
}
#cube .top{
    -webkit-transform: rotateX(90deg) translateZ(180px);
    -moz-transform: rotateX(90deg) translateZ(180px);
    -ms-transform: rotateX(90deg) translateZ(180px);
    -o-transform: rotateX(90deg) translateZ(180px);
    transform: rotateX(90deg) translateZ(180px);
    background: rgba(146,102,192,0.5);
}
#cube .bottom{
    -webkit-transform: rotateX(-90deg) translateZ(180px);
    -moz-transform: rotateX(-90deg) translateZ(180px);
    -ms-transform: rotateX(-90deg) translateZ(180px);
    -o-transform: rotateX(-90deg) translateZ(180px);
    transform: rotateX(-90deg) translateZ(180px);
    background: rgba(199,178,7,0.5);
}

#cube.show-front{
    -webkt-transform: translateZ(-180px) rotateY(0deg);
    -moz-transform: translateZ(-180px) rotateY(0deg);
    -o-transform: translateZ(-180px) rotateY(0deg);
    -ms-transform: translateZ(-180px) rotateY(0deg);
    transform: translateZ(-180px) rotateY(0deg);
}

#cube.show-back{
    -webkt-transform: translateZ(-180px) rotateX(-180deg);
    -moz-transform: translateZ(-180px) rotateX(-180deg);
    -o-transform: translateZ(-180px) rotateX(-180deg);
    -ms-transform: translateZ(-180px) rotateX(-180deg);
    transform: translateZ(-180px) rotateX(-180deg);
}
#cube.show-right{
    -webkt-transform: translateZ(-180px) rotateY(-90deg);
    -moz-transform: translateZ(-180px) rotateY(-90deg);
    -o-transform: translateZ(-180px) rotateY(-90deg);
    -ms-transform: translateZ(-180px) rotateY(-90deg);
    transform: translateZ(-180px) rotateY(-90deg);
}
#cube.show-left{
    -webkt-transform: translateZ(-180px) rotateY(90deg);
    -moz-transform: translateZ(-180px) rotateY(90deg);
    -o-transform: translateZ(-180px) rotateY(90deg);
    -ms-transform: translateZ(-180px) rotateY(90deg);
    transform: translateZ(-180px) rotateY(90deg);
}
#cube.show-top{
    -webkt-transform: translateZ(-180px) rotateX(-90deg);
    -moz-transform: translateZ(-180px) rotateX(-90deg);
    -o-transform: translateZ(-180px) rotateX(-90deg);
    -ms-transform: translateZ(-180px) rotateX(-90deg);
    transform: translateZ(-180px) rotateX(-90deg);
}
#cube.show-bottom{
    -webkt-transform: translateZ(-180px) rotateX(90deg);
    -moz-transform: translateZ(-180px) rotateX(90deg);
    -o-transform: translateZ(-180px) rotateX(90deg);
    -ms-transform: translateZ(-180px) rotateX(90deg);
    transform: translateZ(-180px) rotateX(90deg);
}

/*button style*/
.btn{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width:400px;
    height:150px;
    margin: 100px auto;
}

button{
    font-size: 1.5em;
    font-family:Nunito;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/*animation for background*/
@-webkit-keyframes colorChange{
    0%{background: rgb(202,248,255);}
    20%{background: rgb(178,138,106);}
    40%{background: rgb(123,171,178);}
    60%{background: rgb(178,113,26);}
    80{background: rgb(232,63,70);}
    100%{background:rgb(127,68,0); }
    
}

@-ms-keyframes colorChange{
    0%{background: rgb(202,248,255);}
    20%{background: rgb(178,138,106);}
    40%{background: rgb(123,171,178);}
    60%{background: rgb(178,113,26);}
    80{background: rgb(232,63,70);}
    100%{background:rgb(127,68,0); }
    
}

@-o-keyframes colorChange{
    0%{background: rgb(202,248,255);}
    20%{background: rgb(178,138,106);}
    40%{background: rgb(123,171,178);}
    60%{background: rgb(178,113,26);}
    80{background: rgb(232,63,70);}
    100%{background:rgb(127,68,0); }
    
}

@keyframes colorChange{
    0%{background: rgb(202,248,255);}
    20%{background: rgb(178,138,106);}
    40%{background: rgb(123,171,178);}
    60%{background: rgb(178,113,26);}
    80{background: rgb(232,63,70);}
    100%{background:rgb(127,68,0); }
    
}

@media only screen and (max-width:768px){
   
    .container{
        margin:10vw auto 0 auto;
    }
    
    .btn{
        margin:6vw auto 0 auto;
    }
}