 /*pallete  
rgb(202,248,255);    light blue
rgb(178,138,106)       tan
rgb(123,171,178)      grey blue
rgb(178,113,26)       brown
rgb(232,63,70)        crismin
rgb(0,36,51);          dark blue
rgb(0,145,204)        light blue2
rgb(127,68,0);        brown 
city theme #D9598A #1CAFC0(rgb(28, 175, 192)) #FECA47 #83C25A(rgb(131,194,90)) #F28140 #9266C0 #CCB91F (rgb(199,178,7))
*/ 
body{
    width:90%;
    margin:0 auto;
    
}
/*thumbnail style*/
#aside .imgGroup{
    width:450px;
}

.imgGroup img{
   width:100px;
    height:100px;
    object-fit:cover;
    border-radius: 10px; 
    cursor: pointer;
}

.imgGroup ul li{
    list-style: none;
    display:inline-block; 
    margin:4px 5px 0 0
}

