
 /*pallete  
rgb(202,248,255);    light blue
rgb(178,138,106)       tan
rgb(123,171,178)      grey blue
rgb(178,113,26)       brown
rgb(232,63,70)        crismin
rgb(0,36,51);          dark blue
rgb(0,145,204)        light blue2
rgb(127,68,0);        brown 
#EDF2FF                grey
city theme #D9598A(rgb(202,19,88)) #1CAFC0(rgb(28, 175, 192)) #FECA47 #83C25A(rgb(131,194,90)) #F28140 (rgb(242,129,64)) #9266C0(rgb(146,102,192)) #CCB91F (rgb(199,178,7))  purple-blue rgba(0,0,51,0.8);
*/ 

$pink:#D9598A;
$blue:#1CAFC0;
$yellow:#FECA47;
$green:#83C25A;
$orange:#F28140;
$purple:#9266C0;
$mastard:#CCB91F;
$purple-blue:#5958B9;
$white:#fff;
$grey:#403E4B;
$grey1:#EDF2FF;
$black:#000;
$fblue:#011764;
$red:#ff0000;


$main-font:orbitron;
$text-font:gfs-didot;
$script-font:rochester;
$nav-font:gfs-didot;
$wiki-font:alfa-slab-one;




