@import "sass_modules/normalize";
@import "sass_modules/variable";
@import "sass_modules/mixins";
@import "sass_modules/slidebar";
@import "sass_modules/social";

#body{
    width: 100%;
    background: url("../image/background.png") no-repeat center center;
    background-size: cover;
    overflow: scroll;
}



.wrap{
    width: 100%;
    height: calc(100% - 32px);
    min-width: 300px;
    min-height: 500px;
    position: relative;
    
}
#main{
    width: 300px;
    height:500px;
    min-width: 300px;
    margin: 0 auto;
    font-family: $main-font;
    position: absolute;
    #screen-upper{
        width: 100%;
        height: 20%;
        background: $white;
        border: 1px solid $black;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content:flex-end;
        align-items: center;
        overflow: scroll;
        p{
            margin: 0 10px !important;
            font-size: 6rem;
            @include break(481px,1199px){
               font-size: 7rem; 
            }
            @include break(1200px){
               font-size: 8rem; 
            }
        }
    }
    #screen-lower{
        width: 100%;
        height: 10%;
        background: $white;
        border: 1px solid $black;
        color:rgba($black,0.5);
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
        p{
            margin: 0 10px !important;
            font-size: 2rem;
            @include break(481px,1199px){
               font-size: 3rem; 
            }
            @include break(1200px){
               font-size: 4rem; 
            }
        }
    }
    #history{
        background: $grey;
        width: 100%;
        height:5%;
        color:$yellow;
        text-align: center;
        p{
            display: inline-block;
            font-size: 1.5rem;
            @include break(481px,1199px){
               font-size: 2rem; 
            }
            @include break(1200px){
               font-size: 2.5rem; 
            }
            &:hover{
                cursor: pointer;
            }
        }
        i{
            margin-left: 10px;
        }
    }
    #calc{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        height: 65%;
       button{
        background: $purple-blue;
         width: 25%;
           font-family: $main-font;
           font-size: 3rem;
           color:$white;
           font-weight: 300;
           &:hover{
               background: $pink;
           }
    } 
        .oper{
            background:$grey;
            color:$white;
            &:hover{
               background: darken($pink,20);
           }
        }
    }
    
    #list{
        width: 100%;
        height: 0;
        position: absolute;
        top:0;
        left: 0;
        background: rgba($black,0.8);
        @include transition(height,1s,ease);
        color: $yellow;
        overflow: scroll;
        display: none;
        p{
            padding: 5px 20px;
            opacity: 0;
            font-size: 1.5rem;
            &:hover{
                cursor: pointer;
                color: $purple-blue;
            }
        }
    }
    .showList{
      height: 100% !important;
        display: flex !important;
        flex-direction: column-reverse!important;
        justify-content: flex-end !important;
        p{
            opacity: 1 !important;
        }
}
    
    @include break(481px,1199px){
        width: 400px;
        height: 666px;
    }
    @include break(1200px){
        width: 500px;
        height: 833px;
    }

    
}

.shadow {
   -moz-box-shadow:     0 20px 50px $black;
   -webkit-box-shadow:  0 20px 50px $black;
   box-shadow:          0 20px 50px $black;
}


   